@model Libreria.Models.Estudiante

@{
    ViewBag.Title = "registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Nuevo Estudiante</h2>
<div>
    @Html.ActionLink("Volver", "Inicio", null, new { @class = "btn btn-primary" })
</div>
<hr/>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class=" col-12 col-md-5">
            @using (Html.BeginForm("registrarEstudiante", "Estudiantes", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.idEstudiante, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.idEstudiante, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.idEstudiante, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Registrar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
